* {
  margin: 0 0;
  padding: 0 0;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: max-content;
  padding: 0px 0px 10px 0px;
  background-color: darkgrey;
}
td,
th {
  text-align: left;
  padding: 5px;
}
.form-title {
  text-align: center;
  background-color: darkgreen;
  color: white;
  padding: 2px;
}
button {
  background-color: darkgreen;
  padding: 2px;
  color: white;
  border: none;
  border-radius: 20%;
}
.err {
  color: red;
  display: block;
  font-size: small;
}
